# https://github.com/github/super-linter
name: Lint Code Base

on:  # yamllint disable-line rule:truthy
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - uses: myci-actions/export-env-var@1
        with:
          name: DOTNET_CLI_TELEMETRY_OPTOUT
          value: 1
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0

      - name: Super-linter
        uses: super-linter/super-linter@v6.2.0  # x-release-please-version
        env:
          IGNORE_GITIGNORED_FILES: true
          IGNORE_GENERATED_FILES: true
#          VALIDATE_EDITORCONFIG: true
#          VALIDATE_GITHUB_ACTIONS: false
#          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: "main"
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
